*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: aqua;
}
 #btn{
  background-color: blue;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 0.4rem;
 }